.footer {
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-content-left , .footer-content-right, .footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content-left li , .footer-content-right li, .footer-content-center li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.contact-button {
    background-color: #ff6347; /* Tomato color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact-button:hover {
    background-color: #e5533f; /* Slightly darker tomato */
    transform: scale(1.05);
}

.contact-button:active {
    background-color: #c54433; /* Even darker tomato */
    transform: scale(1);
}


.footer-content-right h2, .footer-content-center h2 {
    color: white;
}

.footer-social-icons img {
    width: 40px;
    margin-right: 15px;
}

.footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: grey;
    border: none;
}

@media (max-width:750px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright {
        text-align: center;
    }
}